@font-face {
  font-family: 'ZenMaruGothicLight';
  font-style: normal;
  font-weight: 300;
  src: local('Zen Maru'), url('/fonts/ZenMaruGothic-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'ZenMaruGothicRegular';
  font-style: normal;
  font-weight: 400;
  src: local('Zen Maru'), url('/fonts/ZenMaruGothic-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'ZenMaruGothicMedium';
  font-style: normal;
  font-weight: 500;
  src: local('Zen Maru'), url('/fonts/ZenMaruGothic-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'ZenMaruGothicBold';
  font-style: normal;
  font-weight: 600;
  src: local('Zen Maru'), url('/fonts/ZenMaruGothic-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'ZenMaruGothicBlack';
  font-style: normal;
  font-weight: 700;
  src: local('Zen Maru'), url('/fonts/ZenMaruGothic-Black.ttf') format('truetype');
}
.btn {
  color: black;
  padding: 10px 20px;
  text-transform: uppercase;
  font-size: 16px;
  border: 1px solid black;
  background-color: #fff;
  cursor: pointer;
  transition: 0.3s;
}
.btn:hover {
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1), -3px -3px 10px rgba(0, 0, 0, 0.1);
}
body {
  background-color: #fff;
  padding: 0px;
  margin: 0px;
  font-family: 'ZenMaruGothicRegular';
}
header {
  position: fixed;
  height: 155px;
  width: 100%;
  padding: 0px;
  margin: 0px;
}
header nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: 5%;
  margin-right: 5%;
}
header nav img {
  width: 255px;
  display: flex;
}
header nav menu {
  display: flex;
  padding: 0px;
}
header nav menu li {
  font-size: 16px;
  list-style: none;
  margin: 0px 20px;
}
header nav menu li a {
  text-decoration: none;
  color: black;
  padding: 5px;
  position: relative;
  text-transform: uppercase;
}
header nav menu li a:after {
  content: '';
  position: absolute;
  display: block;
  opacity: 0;
  width: 100%;
  height: 1px;
  background-color: black;
  transition: 0.5s;
  left: 0px;
  top: 35px;
}
header nav menu li a:hover::after {
  transition: 0.5s;
  left: 10px;
  transform: translate(5px, 0px);
  opacity: 1;
  visibility: visible;
}
header nav .phone a {
  display: flex;
  text-decoration: none;
  color: black;
  width: 255px;
}
header nav .phone a img {
  display: inline-block;
  width: 16px;
  height: 16px;
  padding-right: 10px;
  padding-top: 5px;
}
.about {
  padding-top: 155px;
  height: 700px;
  margin: auto 12%;
}
.about .image img {
  margin-top: 100px;
  right: 10%;
  width: 1086px;
  height: 584px;
  z-index: -1;
  position: absolute;
  display: block;
}
.about .text-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 700px;
}
.about .text-wrapper .text-fake {
  display: flex;
  display: block;
}
.about .text-wrapper .text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 15px;
  line-height: 20px;
  border-left: 2px solid #FDFA25;
  border-bottom: 2px solid #FDFA25;
  box-shadow: 3px -3px 2px rgba(0, 0, 0, 0.1);
}
.about .text-wrapper .text h1 {
  font-family: 'ZenMaruGothicMedium';
  font-weight: 100;
  margin: 15px 0px;
}
.about .text-wrapper .text p {
  font-family: 'ZenMaruGothicRegular';
}
.about .btn-appointment {
  position: relative;
  top: -100px;
}
.slider {
  padding-top: 155px;
  background-color: antiquewhite;
  height: 700px;
  margin: auto 12%;
}
.slider .photo-mini {
  width: 100px;
}
