@font-face {
  font-family: 'ZenMaruGothicLight';
  font-style: normal;
  font-weight: 300;
  src: local('Zen Maru'), url('/fonts/ZenMaruGothic-Light.ttf') format('truetype');
}
@font-face {
  font-family: 'ZenMaruGothicRegular';
  font-style: normal;
  font-weight: 400;
  src: local('Zen Maru'), url('/fonts/ZenMaruGothic-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'ZenMaruGothicMedium';
  font-style: normal;
  font-weight: 500;
  src: local('Zen Maru'), url('/fonts/ZenMaruGothic-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'ZenMaruGothicBold';
  font-style: normal;
  font-weight: 600;
  src: local('Zen Maru'), url('/fonts/ZenMaruGothic-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'ZenMaruGothicBlack';
  font-style: normal;
  font-weight: 700;
  src: local('Zen Maru'), url('/fonts/ZenMaruGothic-Black.ttf') format('truetype');
}
@media screen and (max-width: 1300px) {
  .carousel img {
    width: calc(100% / 2) !important;
  }
}
@media screen and (max-width: 550px) {
  body {
    background-color: #812525;
  }
  .carousel img {
    width: 100%!important;
  }
}
.btn {
  color: black;
  padding: 20px 60px;
  text-transform: uppercase;
  font-size: 16px;
  border: 1px solid black;
  background-color: #fff;
  display: block;
  cursor: pointer;
  transition: 0.3s;
}
.btn:hover {
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1), -3px -3px 10px rgba(0, 0, 0, 0.1);
}
body {
  background-color: #fff;
  padding: 0px;
  margin: 0px;
  font-family: 'ZenMaruGothicRegular';
}
header {
  position: fixed;
  height: 155px;
  width: 100%;
  background-color: #fff;
  padding: 0px;
  margin: 0px;
  z-index: 1000;
}
header nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: 5%;
  margin-right: 5%;
}
header nav img {
  width: 255px;
  display: flex;
}
header nav menu {
  display: flex;
  padding: 0px;
}
header nav menu li {
  font-size: 16px;
  list-style: none;
  margin: 0px 20px;
}
header nav menu li a {
  text-decoration: none;
  color: black;
  padding: 5px;
  position: relative;
  text-transform: uppercase;
}
header nav menu li a:after {
  content: '';
  position: absolute;
  display: block;
  opacity: 0;
  width: 100%;
  height: 1px;
  background-color: black;
  transition: 0.5s;
  left: 0px;
  top: 35px;
}
header nav menu li a:hover::after {
  transition: 0.5s;
  left: 10px;
  transform: translate(5px, 0px);
  opacity: 1;
  visibility: visible;
}
header nav .phone a {
  display: flex;
  text-decoration: none;
  color: black;
  width: 255px;
}
header nav .phone a img {
  display: inline-block;
  width: 16px;
  height: 16px;
  padding-right: 10px;
  padding-top: 5px;
}
.about {
  padding-top: 155px;
  height: 700px;
  margin: auto 12%;
}
.about .image img {
  margin-top: 100px;
  right: 12%;
  width: 1086px;
  height: 584px;
  z-index: -1;
  position: absolute;
  display: block;
}
.about .text-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 700px;
}
.about .text-wrapper .text-fake {
  display: flex;
  display: block;
}
.about .text-wrapper .text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(2px);
  padding: 15px;
  line-height: 20px;
  border-left: 2px solid #FDFA25;
  border-bottom: 2px solid #FDFA25;
  box-shadow: 3px -3px 2px rgba(0, 0, 0, 0.1);
}
.about .text-wrapper .text h1 {
  font-family: 'ZenMaruGothicMedium';
  font-weight: 100;
  margin: 15px 0px;
}
.about .text-wrapper .text p {
  font-family: 'ZenMaruGothicRegular';
}
.about .btn-appointment {
  position: relative;
  top: -100px;
}
.slider {
  height: 600px;
  margin: 100px 12% 0px;
}
.slider .wrapper .carousel {
  margin-top: 40px;
  scroll-behavior: smooth;
  white-space: nowrap;
  font-size: 0;
  cursor: pointer;
  overflow: hidden;
  height: 540px;
}
.slider .wrapper .carousel img {
  margin-top: 40px;
  display: inline-block;
  height: 500px;
  object-fit: cover;
  width: calc(100% / 3);
  padding-right: 10px;
}
.slider .wrapper .carousel .dragging {
  cursor: grab;
  scroll-behavior: auto;
}
.slider .wrapper .carousel .dragging img {
  pointer-events: none;
}
.slider .wrapper .numof {
  display: inline-block;
}
.slider .wrapper .buttons {
  display: flex;
  justify-content: end;
  margin-top: 20px;
}
.slider .wrapper .btn-next {
  display: inline-block;
  background-color: #fff;
  width: 100px;
  border: 0px;
  height: 30px;
  cursor: pointer;
  position: relative;
}
.slider .wrapper .btn-next:after {
  content: '';
  position: absolute;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  width: 11px;
  height: 11px;
  transform: rotate(-45deg);
  top: 9px;
  right: 4px;
}
.slider .wrapper .btn-next:before {
  content: '';
  position: absolute;
  right: 3px;
  width: 80px;
  height: 1px;
  top: 14px;
  background: black;
}
.slider .wrapper .btn-prev {
  display: inline-block;
  background-color: #fff;
  width: 100px;
  border: 0px;
  height: 30px;
  cursor: pointer;
  position: relative;
}
.slider .wrapper .btn-prev:after {
  content: '';
  position: absolute;
  border-top: 1px solid black;
  border-left: 1px solid black;
  width: 11px;
  height: 11px;
  transform: rotate(-45deg);
  top: 9px;
  left: 4px;
}
.slider .wrapper .btn-prev:before {
  content: '';
  position: absolute;
  left: 3px;
  width: 80px;
  height: 1px;
  top: 14px;
  background: black;
}
.contacts {
  height: 100%;
  width: 1000px;
  margin: 90px auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.contacts .title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 35px;
}
.contacts .title h2 {
  position: relative;
  font-family: 'ZenMaruGothicMedium';
  font-weight: 100;
  font-size: 32px;
  margin: 10px 0px;
}
.contacts .title h2:after {
  content: '';
  display: block;
  position: absolute;
  width: 480px;
  height: 8px;
  top: 32px;
  left: 100px;
  z-index: -1;
  background-color: #FDFA25;
}
.contacts .title .subtitle {
  margin: 10px 0px;
}
.contacts .form-box {
  margin-top: 40px;
  margin-bottom: 10px;
  display: flex;
  width: 100%;
  height: 270px;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.contacts .form-box .button-box {
  margin: auto;
}
.contacts .form-box .input-box {
  display: inline-block;
  width: 40%;
  padding: 40px;
}
.contacts .form-box .input-box input {
  width: 100%;
  height: 40px;
  background: transparent;
  border: none;
  outline: none;
  color: black;
  border-bottom: 1px solid black;
  transition: 0.5s;
  font-size: 18px;
  font-family: 'ZenMaruGothicBold';
}
.contacts .form-box .input-box input:focus ~ label {
  transform: translateY(-330%);
}
.contacts .form-box .input-box input:not(:placeholder-shown) ~ label {
  transform: translateY(-330%);
}
.contacts .form-box .input-box label {
  font-size: 15px;
  font-family: 'ZenMaruGothicRegular';
  display: block;
  position: absolute;
  color: #7a7a7a;
  transform: translateY(-200%);
  transition: 0.5s;
  pointer-events: none;
}
.contacts small {
  opacity: 0.5;
  text-align: center;
}
.contacts small a {
  color: black;
}
.video-wrapper {
  height: 100%;
  width: 1000px;
  display: flex;
  margin: 190px auto;
  flex-direction: row;
  justify-content: space-between;
}
.video-wrapper .about-video {
  width: calc(1/3*100% - (1 - 1/3)*15px);
}
.video-wrapper .about-video p {
  line-height: 28px;
  position: relative;
  font-size: 16px;
  font-family: 'ZenMaruGothicRegular';
}
.video-wrapper .about-video p:before {
  content: '';
  width: 8px;
  height: 8px;
  display: inline-block;
  background-color: #FDFA25;
  margin-right: 10px;
}
.video-wrapper .about-video h2 {
  position: relative;
  font-family: 'ZenMaruGothicMedium';
  font-weight: 100;
  font-size: 32px;
  margin: 10px 0px;
}
.video-wrapper .about-video h2:after {
  content: '';
  display: block;
  position: absolute;
  width: 200px;
  height: 8px;
  top: 32px;
  left: 50px;
  z-index: -1;
  background-color: #FDFA25;
}
.video-wrapper .video-1 {
  top: 90px;
}
footer {
  width: 100%;
  background-color: #eeeeee;
  padding: 0px;
  padding: 0px  0px 0px  0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
footer .logo {
  width: calc(100% / 5);
  display: flex;
  align-items: center;
}
footer .logo img {
  width: 205px;
  display: flex;
  padding-left: 100px;
  padding-right: 100px;
}
footer .col-2 {
  width: calc(100% / 5);
  display: flex;
}
footer .col-3 {
  width: calc(100% / 5);
  display: flex;
}
footer .nav {
  width: calc(100% / 3);
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: end;
}
footer .nav li {
  font-size: 16px;
  list-style: none;
  margin: 0px 20px;
}
footer .nav li a {
  text-decoration: none;
  color: black;
  padding: 5px;
  position: relative;
  text-transform: uppercase;
}
footer .contacts {
  display: flex;
  width: calc(100% / 3);
  align-items: end;
}
footer .contacts .phone a {
  display: flex;
  text-decoration: none;
  color: black;
  width: 255px;
}
footer .contacts .phone a img {
  display: inline-block;
  width: 16px;
  height: 16px;
  padding-right: 10px;
  padding-top: 5px;
}
.hide {
  display: none!important;
}
